#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=/opt/salome-bin/salome
MimeType=application/x-hdf
Comment=Generic platform for Pre and Post-Processing for numerical simulation
Icon=/usr/share/pixmaps/salome-bin.png
Terminal=false
Name=Salome
Categories=Science 
